html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}

#top h1 {
    color: white;
    font-weight: normal;
    font-size: 3.125rem;
}

h5 a {
    color: turquoise;
    font-size: 1rem;
}

.content h1 {
    color: white;
    font-weight: 300;
    font-size: 2.62rem;
}

#message p {
    color: gray;
    font-size: 1.312rem;
}

#phoneicon img{
    padding-top: 1rem;
}

footer {
    color: gray;
    text-align: right;
}